<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Profesores</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Profesores
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="idType">Tipo de ID</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Tipo" name="idType" ng-model="signup.tipo_doc" focus/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="id">ID</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" name = "id" placeholder="Numero" ng-model="signup.nro_doc" required/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">Nombre</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Nombre" ng-model="signup.nombre" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="linkCv">Link cv</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Link" ng-model="signup.link_cv" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="phone">Telefono</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Número" name="phone" ng-model="signup.telefono"/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus/>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="address">Dirección</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Dirección" ng-model="signup.direccion" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">Already have an account? <a href="#/login">SignIn</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->